TFBarcodeScanner.xcodeproj/project.xcworkspace/xcuserdata
TFBarcodeScanner.xcodeproj/xcuserdata/tony.xcuserdatad
TFBarcodeScanner.xcodeproj/project.xcworkspace/xcshareddata/TFBarcodeScannerDemo.xccheckout
TFBarcodeScanner.xcodeproj/project.xcworkspace/xcshareddata/TFBarcodeScanner.xccheckout
TFBarcodeScanner.xcodeproj/xcuserdata
